.container{
    display:flex;
    flex-direction: column;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);

    align-items: center;
    margin: 1em 1em 1em 1em;
    /* padding: 0 1em; */
    width:40%;
}
.img img{
    width:100%;
    /* padding: 20px; */
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    font-size: 20px;
    font-weight: bold;
}



@media only screen and (max-width:1000px){
    .container{
        display:flex;
        flex-direction: column;
        box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    
        align-items: center;
        margin: 1em 1em 1em 1em;
        /* padding: 0 1em; */
        width: 90%;
    }    
}